* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
}

/* Base button styles */
.btn {
    /* font-size: 1.2rem !important; */
    transition: transform 0.2s ease !important;
    transform-origin: center !important;
}

/* Hover effect */
.btn:hover {
    transform: scale(1.05) !important;
}


