* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
}

.btn {
    transition: transform 0.2s ease !important;
    transform-origin: center !important;
}

.btn:hover {
    transform: scale(1.05) !important;
}

.no-transition,
.no-transition:hover {
    transition: none !important;
    transform: none !important;
}